[class*="block-nodeblock"] > [class*="node-alertbox"] {
    display: none;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 10px;
    background: #eee;
    margin: 10px 0;
}

[class*="block-nodeblock"] > [class*="node-alertbox"] .hide-alertbox {
    background: url(../images/cross.png) no-repeat center center transparent;
    display: block;
    width: 20px;
    height: 20px;
    float: right;
}

[class*="block-nodeblock"] > [class*="node-alertbox"] .hide-alertbox:hover,
[class*="block-nodeblock"] > [class*="node-alertbox"] .hide-alertbox:active {
    opacity: 0.5;
}
